{% extends 'base.html.twig' %}

{% block title %}Organizations index{% endblock %}

{% block body %}
    <h1>Organizations index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>

                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.type.name }}</td>
                <td>
                    <a href="{{ path('organization_show', {'id': organization.id}) }}">show</a>
                    <a href="{{ path('organization_edit', {'id': organization.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('organization_new') }}">Create new</a>
{% endblock %}
